<div class="my-2 tab-container-content" #scrollableList id="scrollable-list">
    <div *ngFor="let track of results">
        <app-track-item #trackItem
                        [track]="track"
                        (trackLiked)="likeTrack($event)"
                        (trackPlayed)="playTrack($event)"
                        (trackExpanded)="trackExpanded($event)">
        </app-track-item>
    </div>

    <div class="d-flex justify-content-center" *ngIf="pagination && !noMoreResults">
        <button class="btn btn-primary my-3" *ngIf="results.length > 0" (click)="loadMore()">Load More</button>
    </div>
</div>