<li class="list-group-item" *ngFor="let track of results">
    <div class="row">
        <div class="col-3">
            <img class="img-fluid" src="{{track.smallThumbnail}}" alt="">
        </div>
        <div class="col-7">
            <h5>{{track.title}}</h5>
            <h6>{{track.channelTitle}}</h6>
        </div>
        <div id="play-buttons" class="col-2 d-flex flex-column justify-content-around">
            <button (click)="playTrack(track)" class="btn btn-sm btn-success">Play</button>
            <button (click)="queueTrack(track)" class="btn btn-sm btn-info">Queue</button>
        </div>
    </div>
</li>

<div class="d-flex justify-content-center" *ngIf="pagination && !noMoreResults">
    <button class="btn btn-primary my-3" *ngIf="results.length > 0" (click)="loadMore()">Load More</button>
</div>