.card {
    border-radius: 0.60rem;
    box-shadow: 1px 1px 5px rgb(95 112 190);
}

.card-img-wrapper {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border: 2px solid black;
    height: 292px;
}

.card:hover img {
    transform: scale(1.2, 1.2);
    transition: transform 0.5s ease-in-out;
    opacity: 0.8;
}

.card img {
    transform: scale(1.1, 1.1);
    transition: transform 0.5s ease-in-out;
    opacity: 1;
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
}

.card-body {
    border: 2px solid black;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    border-top: 0 !important;
}
