/* You can add global styles to this file, and also import other style files */

.tab-container-content {
    border: 2px solid black !important;
    box-shadow: 0px 0px 5px 1px rgb(95 112 190);
    height: 70vh;
}

.tab-container .list-group {
    padding: 0 !important;
    height: 100%;
    overflow: auto;
    border-radius: 0;
} 

.nav-tabs {
    border-bottom: 0 !important;
}