.fa-thumbs-up {
    color: green;
}

.fa-thumbs-down {
    color: red;
}

.liked-by-user {
    color: white !important;
}

.like-num {
    color: #a5a5a5;
}

.like-icon {
    transform: scale(1);
    transition: all .5s ease-in-out;
    margin-right: 8px;
}

.like-icon:hover {
    transform: scale(1.5);
    transition: all .5s ease-in-out;
}

.like-icon:active {
    transform: scale(1.7);
    transition: all .1s ease-out;
}

#track-item-container:hover {
    background-color: #363636;
}

.col-0 {
    width: 0;
    margin: 0;
    padding: 0;
}

.track-user {
    height: 50px;
    transition: height 1s ease-in-out 0s;
}

    .track-user .h-0 {
        height: 0;
        transition: height 1s ease-in-out 0s;
    }

