   

#play-buttons button {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

#playlist-tracks ul {
    margin: 0;
    padding: 0
}

#playlist-tracks li:hover #play-buttons button {
    opacity: 1;
}