#playlist-container {
    height: 70vh;
}

    #playlist-container .list-group {
        padding: 0;
        height: 100%;
        overflow: auto;
        border-radius: 0;
    }

#playlist-list {
    border-top-left-radius: 0.25rem !important;
}