<div class="tab-container row border rounded">
    <ul class="list-group">
        <li class="list-group-item p-0" *ngFor="let track of results">
            <app-track-item #trackItem
                            [track]="track">
            </app-track-item>
        </li>
    </ul>

    <div class="d-flex justify-content-center" *ngIf="pagination && !noMoreResults">
        <button class="btn btn-primary my-3" *ngIf="results.length > 0" (click)="loadMore()">Load More</button>
    </div>
</div>
