<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="/">DisJockey</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/tracks">Tracks</a>
            </li>
        </div>
    </div>
</nav>