<div class="row">
    <div *ngFor="let member of members$ | async" class="col-3 my-3" routerLink="/users/{{member.discordId}}">
        <div class="card">
            <div class="card-img-wrapper">
                <img src="{{member.avatarUrl}}" alt="member.username" class="card-img-top">
            </div>
            <div class="card-body text-center">
                <h4>{{member.username}}</h4>
                <p>Date Joined: {{member.dateJoined | date: 'dd MMM yyyy'}}</p>
                <p>Unique Tracks Played: {{member.tracks.length}}</p>
            </div>
        </div>
    </div>
</div>